/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --boolando-orange: #ff6900;
    --boolando-grey: #e7e7e7;
    --boolando-dark-orange: #ff0000;
    --boolando-green: #008000;
    --boolando-black: #000000;
    --boolando-white: #ffffff;
}

/* #endregion Common */


/* #region Debug */
.debug header{
    height: 50px;
}

.debug header nav, div, ul{
    border: 1px dashed black;
}

/* #endregion Debug */


/* #region Utility */

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.d_flex{
    display: flex;
}

p_1{
    margin: 1rem;
}

a{
    text-decoration: none;
}

/* #endregion Utility */


/* #region Header */

#site_header{
    padding: 1rem 0;
    background-color: var(--boolando-orange);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#site_header nav .menu,
#site_header nav .icons{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    width: 20%;
    align-items: center;
}

.menu{
    justify-content: start;
}

.menu a{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.logo{
    width: 60%;
    justify-content: center;
    display: flex;
}

.icons{
    display: flex;
    align-items:center;
    justify-content: end;
}

/* #endregion Header */

